// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  overflow: hidden;
  background-image: url('../img/header-bg.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  @media (max-width: ($screen-md - 1)) {
    background-position: center center;
    background-image: url('../img/sm-header-bg.jpg');
  }

  &__inner {
    @include container;
    min-height: 445px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: ($screen-md - 1)) {
      min-height: 100vh;
    }
  }

}
