// В этом файле должны быть стили для БЭМ-блока format-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.format-card {

  $block-name:                &; // #{$block-name}__element

  border: 1px solid #f8f9fa;
  max-width: 800px;
  margin: auto;
  padding: 30px 70px;

  @media (max-width: ($screen-md - 1)) {
    padding: 20px 15px;
  }

  &__info {
    display: flex;

    @media (max-width: ($screen-md - 1)) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-icon {

  }

  &__info-caption {
    padding: 0 0 0 35px;
    font-size: 16px;

    @media (max-width: ($screen-md - 1)) {
      padding: 0;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 1.4em;
      }
    }

    p > span {
      display: block;
      color: #959595;
    }

    ul {
      list-style: none;
      padding-left: 15px;

      li {

        position: relative;
        padding-left: 10px;

        &:before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 5px;
          left: 0;
          background: #b4c935;
          margin-right: 10px;
          font-size: 10px;
        }
      }
    }
  }

  &__part {

    &:not(:last-child) {
      border-bottom: 1px solid #f8f9fa;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  &__scheme {
    text-align: center;
    position: relative;
    padding-top: 32px;

    a {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__action-prise {
    font-size: 48px;
    line-height: 1.1;
    padding: 15px;
    white-space: nowrap;

    &:after {
      content: "i";
      font-family: 'ALS Rubl';
      font-size: 32px;
      vertical-align: top;
    }
  }
  &__action-btn {
    padding: 15px;
  }

}
