// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {

  $block-name:                &; // #{$block-name}__element
  padding: 50px 0;

  &__inner {
    @include container;

    &.narrow {
      max-width: 980px;
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 1.2em;
    margin-top: 0;
    font-weight: 300;
    line-height: 1.2;

    @media (max-width: ($screen-md - 1)) {
      font-size: 24px;
    }
  }

  &--about {
    padding-bottom: 0;
    padding-top: 0;
  }

  &--advantage {

  }

  &--format {

  }

  &--request {

  }

  &--review {

  }

}

#map {
  width: 100%;
  height: 500px;
}
