// В этом файле должны быть стили для БЭМ-блока image-content, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.image-content {

  $block-name:                &; // #{$block-name}__element

  padding-left: 40%;
  padding-bottom: 15px;
  padding-top: 30px;
  background-position: bottom left;
  background-repeat: no-repeat;

  ul {
    list-style: none;
    font-size: 18px;
    color: #adacac;
    padding-left: 15px;

    li {

      position: relative;
      padding-left: 15px;
      line-height: 1.2;
      margin-bottom: 10px;

      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 0;
        background: #59b147;
        margin-right: 10px;
        font-size: 10px;
      }
    }
  }

  @media (max-width: ($screen-md - 1)) {
    padding-left: 0;
    padding-bottom: 430px;
  }

}
