// В этом файле должны быть стили для БЭМ-блока media-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.media-card {

  $block-name:                &; // #{$block-name}__element

  box-shadow: 0 3px 10px rgba(19, 19, 19, 0.29);
  background-color: #ffffff;
  display: flex;
  transform: translateY(-40px);

  @media (max-width: ($screen-sm - 1)) {
    transform: translateY(-60px);
  }

  &__info {
    padding: 17px;
    width: 40%;

    h2 {
      font-size: 36px;
      margin: 0;
      font-weight: 300;
      line-height: 1.2;
    }

    p {
      font-size: 16px;
      color: #959595;
    }
  }

  &__video {
    width: 60%;

    .embed-responsive {
      height: 100%;
    }
  }

  @media (max-width: ($screen-md - 1)) {
    flex-direction: column;

    #{$block-name}__info,
    #{$block-name}__video {
      width: 100%;
    }

  }

}
