// В этом файле должны быть стили для БЭМ-блока event-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.event-card {

  $block-name:                &; // #{$block-name}__element

  &__title {
    font-weight: normal;
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
  }

  &__info {

    margin-bottom: 10px;

    p {
      font-size: 23px;
      line-height: 1.2;

      @media (min-width: $screen-md) {
        margin: 0;
      }
    }

    span {
      white-space: nowrap;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    span {
      padding: 15px;
      font-size: 14px;
    }
  }

  @media (max-width: ($screen-md - 1)) {
    text-align: center;

    &__action {
      flex-direction: column;
    }
  }

  @media (max-width: ($screen-sm - 1)) {
    #{$block-name}__title {
      font-size: 42px;
    }

    &__info {
      p {
        font-size: 18px;
      }
    }
  }

}
